.wrapper {
	max-height: 100svh;
	height: 100svh;
	width: 100%;
	background-color: #1d1d1d;
	display: flex;
	flex-direction: column;
	align-items: center;

	.animation {
		height: 55vh;
		aspect-ratio: 1;
		margin: 2rem 0 0 0;
	}

	.heading {
		font-family: 'Montserrat', sans-serif;
		font-size: 2rem;
		color: aliceblue;
		font-weight: 600;
	}

	.subHeading {
		font-family: 'Montserrat', sans-serif;
		font-size: 1.4rem;
		color: aliceblue;
		font-weight: 400;
		margin: 1rem 0 0 0;
	}

	.gotoHome {
		padding: 1rem 2rem;
		border: 1px solid grey;
		color: aliceblue;
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		margin: 1.5rem 0 0 0;
		transition: all 0.2s ease-in-out;

		&:hover {
			cursor: pointer;
			background-color: white;
			color: #1d1d1d;
		}
	}
}

@media (max-width: 800px) {
	.wrapper {
		padding: 0 1rem;
		.animation {
			aspect-ratio: 1;
			width: 90%;
			height: 45%;
		}
		.heading {
			font-size: 1.8rem;
		}

		.subHeading {
			font-size: 1.2rem;
			text-align: center;
		}

		.gotoHome {
			font-size: 1rem;
		}
	}
}
