.wrapper {
	padding: 5rem 15%;
	width: 100%;

	.heading {
		font-family: 'Montserrat', sans-serif;
		color: white;
		h3 {
			font-size: 2.5rem;
		}

		p {
			margin: 0.5rem 0 0 0;
			font-size: 1.3rem;
		}
	}

	.testimonialWrapper {
		display: flex;
		align-items: stretch;
		justify-content: flex-start;
		margin: 2rem 0;
		width: 100%;
		overflow: hidden;

		.card {
			background-color: white;
			min-height: 23rem;
			max-width: calc(33.33%);
			width: calc(33.33%);
			padding: 3rem 1rem 1rem 1rem;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			&:nth-child(n + 2) {
				margin: 0 0 0 2rem;
			}

			> p {
				font-size: 1.2rem;
				color: rgb(46, 46, 46);
				font-family: 'Montserrat', sans-serif;
				font-weight: 500;
				overflow: auto;
				margin: 0 0 1.5rem 0;
				line-height: 2rem;
				font-style: italic;

				&::before {
					content: '“';
					font-size: 1.5rem;
					margin: 0 0.3rem 0 0;
				}
				&::after {
					content: '”';
					font-size: 1.5rem;
					margin: 0 0 0 0.3rem;
				}

				&::-webkit-scrollbar {
					display: none;
				}
			}

			.bottomBar {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				min-height: 25%;
				width: 100%;
				border-top: 1px solid rgb(218, 218, 218);
				padding: 1.5rem 0 0 0;

				img {
					aspect-ratio: 1;
					width: 20%;
					border-radius: 5rem;
					object-fit: contain;
					user-select: none;
				}

				.userWrapper {
					margin: 0 0 0 1rem;

					p:nth-child(1) {
						font-family: 'Montserrat', sans-serif;
						font-size: 1.1rem;
						color: black;
						font-weight: 600;
						margin: 0;
					}

					p:nth-child(2) {
						font-family: 'Montserrat', sans-serif;
						font-size: 1rem;
						color: rgb(45, 45, 45);
						margin: 0.3rem 0 0 0;
						font-weight: 500;
						line-height: 1.2rem;
					}
				}
			}
		}
	}
}

@media (max-width: 600px) {
	.wrapper {
		padding: 1rem 5% 0 5%;

		.heading {
			h3 {
				text-align: center;
				font-size: 1.75rem;
			}

			p {
				font-size: 1.2rem;
				text-align: center;
			}
		}

		.testimonialWrapper {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-direction: column;
			margin: 2rem 0 2rem 0;
			width: 100%;

			.card {
				background-color: white;
				min-height: 20rem;
				max-width: 100%;
				width: 100%;
				padding: 3rem 1rem 1rem 1rem;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				&:nth-child(n + 2) {
					margin: 2rem 0 0 0;
				}

				p {
					font-size: 1.05rem;
					color: rgb(46, 46, 46);
					font-family: 'Montserrat', sans-serif;
					font-weight: 500;
					overflow: auto;

					&::-webkit-scrollbar {
						display: none;
					}
				}

				.bottomBar {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					min-height: 25%;
					width: 100%;
					border-top: 1px solid rgb(218, 218, 218);
					padding: 1.5rem 0 0 0;

					img {
						aspect-ratio: 1;
						width: 20%;
						border-radius: 10rem;
					}

					.userWrapper {
						margin: 0 0 0 1rem;

						p:nth-child(1) {
							font-family: 'Montserrat', sans-serif;
							font-size: 1.2rem;
							color: black;
							font-weight: 600;
						}

						p:nth-child(2) {
							font-family: 'Montserrat', sans-serif;
							font-size: 0.86rem;
							color: rgb(45, 45, 45);
							margin: 0.2rem 0 0 0;
							font-weight: 500;
						}
					}
				}
			}
		}
	}
}
